*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}


.unit_lenght{
    margin-bottom: 10px;
    color: black;
}
b{
    color: black;
}
.unit_convertor{
    width: 100%;
    height: 100vh;
    display: flex;   
    align-items: center;
    flex-direction: column;
    margin-top:20px ;
   
}
.unit_name{
    display: flex;    
    justify-content: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bolder;    
    border-bottom: 5px solid white;
    margin-bottom: 5px;
}

/* For head line color name chage .unit_name{_unit name}  */



.length_unit_name{
color:greenyellow;
}
.time_unit_name{
color:black;
}

.temperature_unit_name{
    color: red;
}



/* For head line color name chage .unit_name{_unit name}    >>>> End>>>>> */

.all_unit_convert{
    border:3px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color: cornflowerblue;

}
#dark_mood_btn{
    background-color: black;
}
.l_c{
    margin-bottom: 15px;

}

.l_c input{
    border-radius: 3px;
    height: 30px;
    padding: 0 0 0 10px;
    border: none;
   color: black;
}
/* Time Class */

.time_convertor{
    margin-top: 20px;
   
}

/* Temperatur class>>>>>> start */

.temperature_convertor{
    margin-top: 20px;
    margin-bottom: 50px;
}
